/* This CSS file is created for you to create or override any of the existing CSS styles used in this theme */
.highlight a {
	color:#fff !important;
}

.social4i {
	margin-top: 10px; 
}

.entry-cat a {
	border-bottom: dotted 1px #bebebe;
	font-weight:bold;
}

.entry-cat a:hover {
	border-bottom: solid 1px #bebebe;
}

#content .post a {
	text-decoration: underline;
}